<% provide(:title, 'Edit orderer') %>
<h1 class="orderers-index-title">Update orderer &quot;<%= @orderer.name %>&quot;</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@orderer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :color_index %>
      <%= f.select :color_index, Color::INDEXS, {}, { class: 'form-control color-select' } %>
      <%= f.submit "Update orderer", class: "btn btn-lg btn-primary" %>
    <% end %>
    <div class="orderers-page-nav">
      <%= link_to 'Back', orderers_path %>
    </div>
  </div>
</div>
