<% provide(:title, 'Orderers') %>
<h1 class="orderers-index-title">Orderers</h1>

<div class="row">
  <div class="col-md-3">
    <div class="create-orderer-link">
      <%= form_tag orderers_path do %>
        <% if @orderer && @orderer.errors.any? %>
          <%= render 'shared/error_messages', object: @orderer %>
        <% end %>
        <div class="field">
          <%= text_field_tag 'orderer[name]', '', params: :name, class: 'form-control', placeholder: 'Orderer name...' %>
        </div>
        <%= submit_tag 'Create Orderer', class: 'btn btn-large btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="orderers-list">
      <%= render @orderers %>
    </ul>
    <div class="orderers-page-nav">
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
