<%= render 'shared/error_messages', object: f.object %>
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %>

<%= f.label :payment %>
<%= f.text_field :payment, class: 'form-control' %>

<%= f.label :other %>
<%= f.text_area :other, rows: 5, class: 'form-control' %>

<div class="checkbox-container">
  <%= f.check_box :finished, class: 'form-control' %>
  <%= f.label :finished %>
</div>

<div class="checkbox-container">
  <%= f.check_box :claimed, class: 'form-control' %>
  <%= f.label :claimed %>
</div>

<div class="checkbox-container">
  <%= f.check_box :receipted, class: 'form-control' %>
  <%= f.label :receipted %>
</div>

<%= f.label :orderer_id %>
<% if @orderers %>
  <%= f.collection_select :orderer_id, @orderers, :id, :name, { include_blank: true }, { class: 'form-control' } %>
<% else %>
  <p>You must create a Orderer, to select one.</p>
  <%= f.hidden_field :orderer_id %>
<% end %>
