<li class="work-<%= work_status_class(work.finished) %>">
  <h3 class="work-title">
    <%= link_to work.title, work_path(work) %>
    <% ur_todo_count = work.unresolved_todos.size %>
    <% if ur_todo_count > 0 %>
      <span class="badge">Todo: <%= ur_todo_count %></span>
    <% end %>
  </h3>
  <div class="orderer-name-box">
    <% orderer = @orderers.find_by(id: work.orderer_id) %>
    <% if orderer %>
      <span class="orderer orderer-<%= orderer.id % 5 %>">
        <%= orderer.name %>
      </span>
    <% end %>
  </div>
  <div class="work-info">
    <span class="status-info">
      <span class="status-claimed-<%= work_status_class(work.claimed) %>"><%= t 'view.claimed' %>:</span>
      <span class="status-receipted-<%= work_status_class(work.receipted) %>"><%= t 'view.receipted' %>:</span>
    </span>
    <span class="timestamp">
      <span class="updated">
        <%= t 'view.updated' %> <%= time_ago_in_words(work.updated_at) %> <%= t 'view.ago' %>.
      </span>
      <span class="created">
        <%= t 'view.created' %> <%= time_ago_in_words(work.created_at) %> <%= t 'view.ago' %>.
      </span>
    </span>
  </div>
</li>
