<% provide(:title, @work.title) %>
<h1 class="work-title"><%= @work.title %></h1>
<div class="row">
  <div class="col-md-4">
    <dl class="work-info">
      <dt><%= t 'view.orderer' %></dt>
      <dd>
        <% if @orderer %>
          <span class="orderer orderer-<%= @orderer.id % 5 %>">
            <%= @orderer.name %>
          </span>
        <% else %>
          <span class="alert-undefined">Undefined</span>
        <% end %>
      </dd>
      <dt><%= t 'view.payment' %></dt>
      <dd><%= number_to_currency(@work.payment) %></dd>
      <dt><%= t 'view.other' %></dt>
      <dd><%= simple_format(@work.other) %></dd>
      <dt><%= t 'view.status' %></dt>
      <dd>
        <span class="status-claimed-<%= work_status_class(@work.claimed) %>"><%= t 'view.claimed' %>:</span>
        <span class="status-receipted-<%= work_status_class(@work.receipted) %>"><%= t 'view.receipted' %>:</span>
        <span class="status-finished-<%= work_status_class(@work.finished) %>"><%= t 'view.finished' %>:</span>
      </dd>
    </dl>
    <div class="tools">
      <%= link_to 'Edit', edit_work_path(@work) %>
      <%= link_to 'Delete', @work, method: :delete,
                            data: { confirm: "You sure?" } %>
    </div>
  </div>
  <div class="col-md-8">
  </div>
</div>
<div class="work-page-nav">
  <%= link_to 'Back', root_path %>
</div>
