<% provide(:title, @work.title) %>
<h1 class="work-title"><%= @work.title %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <dl class="work-info">
      <dt>payment</dt>
      <dd><%= number_to_currency(@work.payment, unit: 'US$') %></dd>
      <dt>other</dt>
      <dd><%= @work.other %></dd>
      <dt>status</dt>
      <dd>
        <span class="status-claimed-<%= work_status_class(@work.claimed) %>">claimed:</span>
        <span class="status-receipted-<%= work_status_class(@work.receipted) %>">receipted:</span>
        <span class="status-finished-<%= work_status_class(@work.finished) %>">finished:</span>
      </dd>
    </dl>
    <div class="tools">
      <%= link_to 'Edit', edit_work_path(@work) %>
      <%= link_to 'Delete', @work, method: :delete,
                            data: { confirm: "You sure?" } %>
    </div>
    <div class="work-page-nav">
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
