<% provide(:title, @work.title) %>
<h1 class="work-title"><%= @work.title %></h1>
<div class="row">
  <div class="col-md-3">
    <dl class="work-info">
      <dt><%= t 'view.orderer' %></dt>
      <dd>
        <% if @orderer %>
          <span class="orderer orderer-<%= @orderer.id % 5 %>">
            <%= @orderer.name %>
          </span>
        <% else %>
          <span class="alert-undefined">Undefined</span>
        <% end %>
      </dd>
      <dt><%= t 'view.payment' %></dt>
      <dd><%= number_to_currency(@work.payment) %></dd>
      <dt><%= t 'view.other' %></dt>
      <dd><%= simple_format(@work.other) %></dd>
      <dt><%= t 'view.status' %></dt>
      <dd>
        <span class="status-claimed-<%= work_status_class(@work.claimed) %>"><%= t 'view.claimed' %>:</span>
        <span class="status-receipted-<%= work_status_class(@work.receipted) %>"><%= t 'view.receipted' %>:</span>
        <span class="status-finished-<%= work_status_class(@work.finished) %>"><%= t 'view.finished' %>:</span>
      </dd>
    </dl>
    <div class="tools">
      <%= link_to 'Edit', edit_work_path(@work) %>
      <%= link_to 'Delete', @work, method: :delete,
                            data: { confirm: "You sure?" } %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="worktimes-header">
      <div class="worktime-operations">
        <%= form_tag worktimes_path, class: 'worktime-start-form' do %>
          <% if @worktime && @worktime.errors.any? %>
            <%= render 'shared/error_messages', object: @worktime %>
          <% end %>
          <%= hidden_field_tag 'worktime[work_id]', @work.id, params: :work_id %>
          <%= submit_tag 'Start work', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <h3 class="worktimes-title"><%= t 'view.worktimes_title' %></h3>
      <div class="worktimes-total">
        <%= t 'view.worktimes_total' %>: <%= total_worktimes_fmt(@work.total_worktimes) %>
      </div>
      <div class="worktimes-payment-rate<%= '-hide' unless @work.claimed %>">
        <%= number_to_currency(@work.payment_rate) %> <%= t 'view.worktimes_payment_rate' %>
      </div>
    </div>
    <% if !@work.worktimes.nil? && @work.worktimes.any? %>
      <table class="worktimes">
        <tbody>
          <%= render @work.worktimes %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<div class="work-page-nav">
  <%= link_to 'Back', root_path %>
</div>
